<div id="content">
<div class="in ddtx">
    <div data-ui-view="" class="ng-scope">
    <div class="single-product ng-scope">
        <div class="product-name ng-binding"><h3>太阳岛系列230双体铝合金观游艇</h3></div>
    <div>
        <ul id="product-tabs">
            <li class='live'><a ng-click="changeTab(1)" ng-class="{current: tab == 1}" class="ng-binding current">图片库</a></li>
            <li><a ng-click="changeTab(2)" ng-class="{current: tab == 2}" class="ng-binding">简介</a></li>
            <li><a ng-click="changeTab(3)" ng-class="{current: tab == 3}" class="ng-binding">配置</a></li>
            <li><a ng-click="changeTab(4)" ng-class="{current: tab == 4}" class="ng-binding">参数</a></li>
        </ul>
        <div class="clr"></div>

        <div id="tabs-gallery" ng-show="tab==1" class="">
            <div id="product-gallery" class="gallery"><p><img ng-mousedown="pauseImage()" ng-src="img/products/0/2.jpg" src="img/products/0/2.jpg"></p></div>
        </div>
        <!-- 
        <div id="tabs-intro" ng-show="tab==2" class="ng-hide">
            <div class="product-intro ng-binding" ng-bind-html="introduce"></div>
        </div>
        <div id="tabs-equipment" ng-show="tab==3" class="ng-hide">
            <div class="product-equipment ng-binding" ng-bind-html="equipment"><p><strong>篷罩</strong><br></p><p><br></p><p>- 11＇6＇＇比迷你篷<br></p><p>- 甲板篷布<br></p><p><br></p><p><strong>驾驶台</strong><br></p><p><br></p><p>- 可锁储物箱<br></p><p>- 挡风玻璃<br></p><p><br></p><p><strong>配备</strong><br></p><p><br></p><p>- 铝合金浮筒、甲板框架<br></p><p>- 玻璃钢船体配备<br></p><p>- 更衣室<br></p><p>- 五步游泳梯 <br></p><p>- 手动灭火器<br></p><p>- 船尾系缆环<br></p><p>- 毛巾架<br></p><p>- 不锈钢杯架<br></p><p>- 垃圾桶<br></p><p>- 沙发座椅<br></p><p><br></p><p><strong>家具</strong><br></p><p><br></p><p>- 餐桌带杯架<br></p><p>- 地毯<br></p><p><br></p><p><strong>音响</strong><br></p><p><br></p><p>- 音响及四个扬声器<br></p><p><br></p><p><strong>发动机</strong><br></p><p><br></p><p>- 美国水星90马力&amp;60马力四冲程发动机（高配配90马力水星四冲程发动机）<br></p><p><br></p><p><strong>选配项目：</strong><br></p><p><br></p><p>- 冰箱<br></p><p>- 淡水箱</p></div>
        </div>
        <div id="tabs-parameter" ng-show="tab==4" class="ng-hide">
            <table> <tbody><tr> <th class="ng-binding">艇长</th> <th class="ng-binding">艇宽</th> <th class="ng-binding">吃水深度</th> </tr> <tr> <td class="ng-binding">24英尺/7.32米</td> <td class="ng-binding">8.5英尺/2.6米</td> <td class="ng-binding">0.35米</td> </tr> <tr> <th class="ng-binding">型深</th> <th class="ng-binding">船体重量</th> <th class="ng-binding">燃料容量</th> </tr> <tr> <td class="ng-binding">0.76米</td> <td class="ng-binding"></td> <td class="ng-binding">31.7加仑/120升</td> </tr> <tr> <th class="ng-binding">淡水容量</th> <th class="ng-binding">排水量</th> <th class="ng-binding">船员</th> </tr> <tr> <td class="ng-binding"></td> <td class="ng-binding">2350千克/2.35吨</td> <td class="ng-binding"></td> </tr> <tr> <th class="ng-binding">乘客</th> <th class="ng-binding">航速</th> <th class="ng-binding">主机</th> </tr> <tr> <td class="ng-binding">11</td> <td class="ng-binding"></td> <td class="ng-binding">美国水星60马力或90马力四冲程舷外机</td> </tr> </tbody></table> </div> -->
    </div>
    </div>
    </div>

</div> <!-- end in -->
</div>	