<div id="content">
<div class="in ytxl">
	<div class="left-panel">
		<div class="panel-nav">
            <ul>
                <!-- ngRepeat: s in menu.subMenu[page.index-1] -->
                <li data-ng-repeat="s in menu.subMenu[page.index-1]" class="ng-scope live"><a ng-href="#zh/static/1" class="ng-binding" href="#zh/static/1">太阳岛</a></li>
                <!-- end ngRepeat: s in menu.subMenu[page.index-1] -->
                <li data-ng-repeat="s in menu.subMenu[page.index-1]" class="ng-scope"><a ng-href="#zh/static/2" class="ng-binding" href="#zh/static/2">女真公主</a></li>
                <!-- end ngRepeat: s in menu.subMenu[page.index-1] -->
                <li data-ng-repeat="s in menu.subMenu[page.index-1]" class="ng-scope"><a ng-href="#zh/static/3" class="ng-binding" href="#zh/static/3">乌苏里</a></li>
                <!-- end ngRepeat: s in menu.subMenu[page.index-1] -->
                <li data-ng-repeat="s in menu.subMenu[page.index-1]" class="ng-scope"><a ng-href="#zh/static/3" class="ng-binding" href="#zh/static/3">索菲亚</a></li>
                <!-- end ngRepeat: s in menu.subMenu[page.index-1] -->
            </ul>
        </div>
	</div>
	<div class="right-panel">
		<h3>游艇系列 / <span>Yacht Range</span></h3>
		<div class="yt-logo"><img src="../assets/images/series-logo-1.jpg" alt=""></div>
		<div class="clr"></div>
		<p>	太阳岛系列观光艇是玻璃钢游艇的外型和游览船的实用完美结合，是水上游览观光，商务休闲娱乐招待的最佳选择。太阳岛系列观光艇外部设计高雅美观，线条简单流畅，颜色清新，高级的配置，豪华的装修，适合沿海旅游、观光。</p>
		<ul>
			<li>
				<div class='yt-li'>
					<img src="../assets/images/0_thumb.jpg" alt="">
					<div class="yt-li-in">
						<h5>太阳岛系列230双体铝合金观游艇</h5>
						<p>太阳岛系列观光艇外部设计高雅美观，线条简单流畅，颜色清新，高级的配置，豪华的装修，230简介</p>
					</div>
				</div>
			</li>
			<li>
				<div class='yt-li'>
					<img src="../assets/images/1_thumb.jpg" alt="">
					<div class="yt-li-in">
						<h5>太阳岛系列230双体铝合金观游艇</h5>
						<p>太阳岛系列观光艇外部设计高雅美观，线条简单流畅，颜色清新，高级的配置，豪华的装修，230简介</p>
					</div>
				</div>
			</li>
			<li>
				<div class='yt-li'>
					<img src="../assets/images/2_thumb.jpg" alt="">
					<div class="yt-li-in">
						<h5>太阳岛系列230双体铝合金观游艇</h5>
						<p>太阳岛系列观光艇外部设计高雅美观，线条简单流畅，颜色清新，高级的配置，豪华的装修，230简介</p>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="clr"></div>
</div>
</div>
<div class="clr"></div>
